# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
src/main/resources/part-00000-67302b3b-fca0-482c-890a-afc9d7120bc1-c000.snappy.parquet
